@model IEnumerable<BusinessLayer.Models.Department>
@using BusinessLayer.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of departments</title>
</head>
<body>
    <h2>List of the departments</h2>
    <div style="font-family:Arial">
        <ul>
            @foreach(Department department in @Model )
            {
                <li>
                      @Html.ActionLink(department.Name,"Index","Employee",new {departmentId=department.DepId},null)
                </li>
            }
        </ul>
    </div>
</body>
</html>
